* {
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: sans-serif;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    }
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}
.column img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    cursor: pointer;
  } 
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }